section {
    border: 1px solid blue;
    width: 100%;
    float: left;
    }
    div {
        margin: 5px;
        width: 50px;
        height: 150px;
       }
       .esquerda {
        float: left;
        background: gray;
       }
       .direita{
        float: right;
        background: blueviolet;
       }