body{
    display: flex;
    background-color: antiquewhite;

}

.testao{
    text-align: center;
}

.underline {
    display: inline-flex;
    color: red;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 2px dashed black;
}

.container{
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.container img{
    max-width: 30%;
    float: center;  
    margin: 0.8% 0.8% 0.8%;
    height: 0%;
    flex: 1 1 30%;
    border-radius: 5%;
}
