@charset "utf-8";

body{
    background-color: orange;
    border: 2px brown solid;
}

.rian > * {
    border-radius: 3px;
    border: 1px solid #fff;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.rian{
    display: flex;
    border: 5px solid #fff;
    width: 800px;
}

.rian div {
    margin:0;
    padding: 20px 0;
    width: 80px;
    flex-grow: 1;
}
