@charset "utf-8";

body{
    background-color: #e6e6fa;
    color: #191970;
 font-family: Arial, Verdana, sans-serif;
}

#PrimeiroNome {
    background-color: yellow;
}

p#SobreNome {
 background-color: grey;
}

body {
    color: blue
}
