@charset "utf-8";

body{
    background-color: orange;
    border: 2px brown solid;
}

.rian > * {
    border-radius: 1px;
    border: 1px solid #fff;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.rian{
    display: flex;
    align-items: center;
}
.rian div:nth-child(2){
     font-size: 3rem;
}
.rian div:nth-child(4){
    font-size: 5rem;
}
.rian div:nth-child(6){
    font-size: 2rem;
}
.rian div:nth-child(8){
    font-size: 3rem;
}.rian div:nth-child(10){
    font-size: 2rem;
}
.rian div:nth-child(11){
    font-size: 3rem;
}