@charset "utf-8";

body{
    background-color: orange;
    border: 2px brown solid;
}

.rian > * {
    border-radius: 1px;
    border: 1px solid #fff;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.rian {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-evenly;
}

.rian{
    display: flex;
    height: 250px;
    align-items: baseline;
}