@charset "utf-8";
* {
 margin: 0;
 padding: 0;
 border: none;
 top: 0;
}
body {
 background-color: gray;
 color: #555555;
 font: normal 16px Arial, Helvetica, sans-serif;
 line-height: 1.6em;
 margin: 0;

 .container {
    width: 80%;
    margin: 20px 30px;
   }
   .box-1 {
    background-color: #333;
    color: #fff;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
   }
   .box-2{
    background-color: #333;
    color: #fff; 
    margin-top: 10px;
    border-right: 5px orangered solid;
    border-left: 5px orangered solid;
    border-top: 5px orangered solid;
    border-bottom: 5px orangered solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dashed;
    padding: 20px;
   }
   a {
    background-color: black;
    text-decoration: none;
    color: yellow;
    margin: 15px 20px ;
    padding: 5px 7px;
   }