@charset "utf-8";

*{ 
    margin: 10px 5px;
    background-color: purple;
    color: snow;
}

header p {
    color: black;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    background-color: violet;
}

header h1{
    color: black;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;

}

#ultimoP{
    color: black;
    margin: 5px;
    border: dashed;
}
body *{
    color: gray;
    border-style: groove;
    border-color: red ;
}