@charset "utf-8";

body{
    background-color: #e6e6fa;
    color: #0b0b6c;
    font-family: Arial, Verdana, sans-serif;
}

h1{
    background-color: #0b0b6c;
    color: #e6e6fa;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 3px 3px 5px #cccccc;
}

h2 {
    background-color: #aeaed4;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

p{
    font-size: .90em;
    text-indent: 3em;
    background-color: #0006da;
}

p.fundo{
    background-color: #00d4ff;
}

ul{
    font-weight: bold;
    color: orange;
}

footer{
    color: #333333;
    font: .75em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

footer.rodape{
    color: slategray;
}

.cor_texto{
    color: #C70000;
}
